* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #01ad4b;
}

.container {
    background-color: #fff;
    height: 260px;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s ease height;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container.active {
    height: 500px;
}

#qr-header {
    text-align: center;
}

#qr-header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#qr-header p {
    color: #444;
    font-size: 0.9rem;
}

#qr-form { margin: 20px 15px; }

#qr-form input,
#qr-form button {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
}

#qr-form input {
    border: 1px solid #777;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#qr-form button {
    background-color: #086824;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s ease opacity;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    &:hover {
        opacity: 1;
    }
}

#qr-code {
    display: flex;
    opacity: 0;
    border: 1px solid #ccc;
    padding: 30px 0;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transition: opacity 0.1s ease;
    flex: 1;
}

.container.active #qr-code { opacity: 1; }